@import url("https://fonts.googleapis.com/css2?family=Maiden+Orange&display=swap");

:root {
  --purple-color: #7960B3; /* Define a custom color */
  --brown-color:#4B1E22;
  --grey-color:#EEEEEE;
}
*{
  font-family: "Maiden Orange", sans-serif;
}
body {
  background-color: var(--brown-color);
}

.out-of-words{
    padding-top: 2%;
    padding-right: 2%;
    text-align: right;
}

.container{
  width: 80%;
  height: 530px;
  background-color: var(--grey-color);
  margin: 5rem auto;
}
.main-text{
  font-size: 4rem;
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 2.5rem;
}
.sub-text{
    padding-left: 15%;
}
.player-name{
    font-size: 2rem;
    text-align: right;
    color: white;
}
.avg-guess{
    font-size: 2rem;
    text-align: left;
    color: white;
}

.check-btn{
  background-color: var(--purple-color);
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 0.2rem;
  width: calc(200px + 20vw);
  margin: 2rem auto;
  font-size: 4rem;
  display: flex;
  justify-content: center;
}
.start-game-btn:hover ,.leaderboard-btn:hover{
  cursor: pointer;
}
