@import url("https://fonts.googleapis.com/css2?family=Maiden+Orange&display=swap");
:root {
    --purple-color: #7960b3;
    --brown-color: #4b1e22;
    --grey-color: #eeeeee;
    --dark-grey-color: #d9d9d9;
    --gradient-white: rgb(255, 255, 255) 40%,
    rgb(225, 224, 198) 48%,
    rgb(251, 244, 240) 75%;
    --light-brown: rgba(144, 108, 96, 1);
  }
  * {
    font-family: "Maiden Orange", sans-serif;
  }
  body {
    background-color: var(--grey-color);
    color: black;
  }
body {
  padding: 0;
  margin: 0;
  background-color: #eeeeee;
}
.main-top-section {
  border-radius: 10px;
}
.blur img {
  height: calc(45vw + 220px);
  width: 100%;
}
.blur {
  height: inherit;
  overflow: hidden;
  position: relative;
}

.blurry {

  content: "";
  filter: blur(8px);
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  .alt & {
    background-position: left top;
    left: 0;
    right: auto;
  }
}

.overlay {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  font-size: 20px;
  position: absolute;
  top: 10%;
  right: 0;
    padding: 2rem;
    border-radius: 5px;
  width: 50%;
  z-index: 1;

  .alt & {
    left: 25%;
  }
}
.overlay-container {
  width: 80%;
  margin: auto;
}
.main-text {
    font-size: 4.5rem;
    text-align: left;
    color: white;
}
.out-back {
    padding: 1rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .button-small{
    margin: 0;
  min-width: fit-content;
  text-align: center;
  border: none;
  border-radius: 10px;
  padding: 1rem 2rem;
  font-weight: 600;
  font-size: 1.5rem;
  position: relative;
  color: var(--light-brown);
  cursor: pointer;
  background: linear-gradient(
    245deg,
    rgb(255, 255, 255) 40%,

    rgb(251, 244, 240) 75%
  );
  }
  .out-of-words {
    font-size: 2rem;
    text-align: right;
    color: white;
  }
  .avg-guess-player-name,.guess-count{
    font-size: 2rem;
  
    color: white;
  }
  .main-text {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2.5rem;
  }
.form-container {
  width: 50%;
    margin: 0 auto;
  }
  .form-container form label,
  .result-container {
    font-size: 2.25rem;
  }
  .form-container form input {
    padding: 1rem;
    width: 50%;
    border: none;
    background-color: var(--dark-grey-color);
  }
  .flex {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .result-container{
    width: 50%;
  }
  .result-box {
    font-size: 2.25rem;
  }
  .check-btn {
    width: 100%;
    margin: 1rem auto;
  min-width: fit-content;
  text-align: center;
  border: none;
  border-radius: 10px;
  padding: 20px 10px;
  font-weight: 600;
  font-size: 1.5rem;
  position: relative;
  color: var(--light-brown);
  cursor: pointer;
  background: linear-gradient(
    245deg,
    rgb(255, 255, 255) 40%,

    rgb(251, 244, 240) 75%
  );
  
  }
  .check-btn:hover,
  .back-btn:hover {
    cursor: pointer;
  }
  .message{
    margin: 0;
  }
  .playerName {
    padding: 1rem;
    width: 50%; /* Set width to 182px */
    height: 15px; /* Set height to 94px */
    border: none;
    background-color: var(--dark-grey-color);
    display: none;
  }
  
/* bottom section */
.main-bottom-section{
    width: 95%;
    margin: 0 auto;
}
.section-title h2 ,.features{
    font-size: 2rem;
}
.features{
    text-align: center;
}
.row{
    display: flex;
    justify-content: space-evenly;
}
.leaderboard-section, .profiles-section ,.achievement-section{
    width: 30%;
}
.categorie-item img{
 width: 100%;
}
.categorie-item h3{
    font-size: 1.5rem;
}
@media only screen and (max-width: 1170px) {
  .overlay {
    padding: 10px;
  }
}
@media only screen and (max-width: 1000px) {
    .main-text{
        font-size: 3rem;
    }
}
@media only screen and (max-width: 870px) {
  
   .overlay{
    width: 70%;
    max-height: 450px;
    top: 5%;
        .alt & {
        left: 15%;
      }
   }
   .main-text{
    font-size: 2.5rem;
}
.form-container form label,
  .result-container ,.result-box{
    font-size: 2rem;
  }
}

@media only screen and (max-width: 700px) {
  .button {
    padding: 20px 5px;
  }
  .overlay{
    overflow-y: scroll;
    max-height: 400px;
  }
  .form-container form input {
    padding: 0.5rem;
    width: 50%;
    border: none;
    background-color: var(--dark-grey-color);
  }
.form-container form label,
.result-container,.message ,.result-box{
font-size: 1.75rem;
}
}

@media only screen and (max-width: 550px) {
    .main-text{
        font-size: 2.25rem;
        margin-bottom: 1rem;
    }
    .button {
        padding: 10px 5px;
      }
.bottom{
    font-size: 1.5rem;
}
.button-small{
    padding: 10px 1rem;
}
.out-of-words{
    font-size: 1.5rem;
}
.out-back{
padding: 0.5rem 0;
}
.overlay{
  max-height: 350px;
}
}
  

@media only screen and (max-width: 400px) {
    .overlay-container{
        width: 90%;
    }
    .overlay{
        top: 3%;
    }
    .main-text{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .out-of-words{
        font-size: 1.25rem;
    }
  .row{
    display: block;
  }
  .leaderboard-section, .profiles-section ,.achievement-section{
    width: 90%;
    margin: 0 auto;
}
}

@media only screen and (max-width: 350px) {
    .overlay{
        top: 2%;
    }
}
