@import url("https://fonts.googleapis.com/css2?family=Maiden+Orange&display=swap");

:root {
    --purple-color: #7960B3;
    --brown-color: #4B1E22;
    --grey-color: #EEEEEE;
}

* {
    font-family: "Maiden Orange", sans-serif;
}

body,
html {
    font-family: "Maiden Orange", sans-serif;
    background-color: var(--brown-color);
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 530px;
    margin: 5rem auto;
}

.button {
    background-color: var(--purple-color);
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 0.2rem;
    width: calc(100px + 10vw);
    margin: 1.5rem;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.button:hover {
    background-color: #886fc0;
}


.main-text {
    font-size: 4.5rem;
    text-align: left;
}

.box {
    position: relative;
    width: 1200px;
    height: 500px;
    background-color: #f0f0f0;
    padding: 30px
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table,
th,
td {
    border: 0px solid black;
}

th {
    text-align: left;
    padding-bottom: 10px;
}

th,
td {
    font-size: 1.5rem;
}