@import url("https://fonts.googleapis.com/css2?family=Maiden+Orange&display=swap");

:root {
  --purple-color: #7960B3; /* Define a custom color */
  --brown-color:#4B1E22;
  --grey-color:#EEEEEE;
}
*{
  font-family: "Maiden Orange", sans-serif;
}
body {
  background-color: var(--brown-color);
}

.container{
  width: 80%;
  height: 530px;
  background-color: var(--grey-color);
  margin: 5rem auto;
}
.main-text{
  font-size: 4rem;
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 2.5rem;
}

.name-text,.score-text,.rank-5num-text,.rank-10num-text{
    padding-left: 10%;
    padding-top: 3%;
    font-size: 1.5rem;
}
.button-holder{
    
}
.profile-back-button{
  background-color: var(--purple-color);
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 0.2rem;
  width: calc(200px + 20vw);
  margin:auto;
  font-size: 4rem;
  display: flex;
  justify-content: center;
}
.profile-back-button:hover{
  cursor: pointer;
}
