@import url("https://fonts.googleapis.com/css2?family=Maiden+Orange&display=swap");

* {
  font-family: "Maiden Orange", sans-serif;
}
body {
  background-color: #4b1e22; /* Set background color */
}

.container {
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 5rem auto;
  width: 80%;
}

.content {
  width: 90%;
  margin: 1rem auto;
}
.content form{
  width: 35%;
  margin: 0 auto;
}

.signup-header {
  text-align: center;
  font-size: 3.125rem;
  margin: 0;
}

.signup-input-text {
  font-size: 25px;
}

.signup-input-field {
  height: 44px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #d9d9d9;
  display: flex;
  align-items: left;
  font-size: 25px;
}

.signup-button {
  width: calc(100% + 24px);
  height: 54px;
  font-size: 30px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #7960b3;
  color: #fff;
  cursor: pointer;
  align-self: center;
}

.signup-button:hover {
  background-color: #886fc0;
}

.signup-back-button {
  width: 142px;
  height: 64px;
  border: none;
  border-radius: 5px;
  background-color: #7960b3;
  color: #fff;
  cursor: pointer;
  font-size: 30px;
}

.signup-back-button:hover {
  background-color: #886fc0;
}
@media screen and (max-width: 600px) {
  .content form{
    width: 50%;
  }
  .signup-input-field {
    padding: 10px;
    font-size: 1rem;
  }
  .signup-back-button {
    width: calc(3rem + 10vw);
  }
}