@import url("https://fonts.googleapis.com/css2?family=Maiden+Orange&display=swap");

* {
  font-family: "Maiden Orange", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #4b1e22; /* Set background color */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 696px;
  height: 787px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stack children vertically */
}

.signup-header {
  text-align: center;
  font-size: 50px;
  margin: 0;
}

.signup-input {
  font-size: 25px;
}

.signup-input-field {
  height: 44px;
  width: 345px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #d9d9d9;
  display: flex;
  padding: 10px;
  align-items: left;
  font-size: 25px;
}

.signup-button {
  width: 367px;
  height: 54px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #7960b3;
  color: #fff;
  cursor: pointer;
  align-self: center;
  font-size: 30px;
}

.signup-button:hover {
  background-color: #886fc0;
}

.signup-back-button {
  width: 142px;
  height: 64px;
  margin-top: 20px;
  margin-left: 20px;
  border: none;
  border-radius: 5px;
  background-color: #7960b3;
  color: #fff;
  cursor: pointer;
  align-self: flex-start;
  font-size: 30px;
}

.signup-back-button:hover {
  background-color: #886fc0;
}
