@import url("https://fonts.googleapis.com/css2?family=Maiden+Orange&display=swap");

:root {
  --purple-color: #7960B3;
  --brown-color:#4B1E22;
  --grey-color:#EEEEEE;
}
*{
  font-family: "Maiden Orange", sans-serif;
}
body {
  background-color: var(--brown-color);
}

.container{
  width: 80%;
  height: 530px;
  background-color: var(--grey-color);
  margin: 5rem auto;
}
.main-text{
  margin: 0 auto 6rem auto;
  width: 95%;
  font-size: 6rem;
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 6rem;
}
.signin-btn ,.register-btn{
  background-color: var(--purple-color);
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 0.2rem;
  width: calc(200px + 20vw);
  margin: 2rem auto;
  font-size: 4rem;
  display: flex;
  justify-content: center;
}
.signin-btn:hover ,.register-btn:hover{
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .main-text {
      font-size: 4rem;
  }
  .signin-btn ,.register-btn{
    font-size: 2.5rem;
  }
}